@import "tailwindcss";

@font-face {
  font-family: 'SourceCodePro';
  src: url('/fonts/SourceCodePro.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

:root {
  color-scheme: light dark;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-height: 100vh;
  background-color: light-dark(white, #001717);
}
